NEXT_PUBLIC_SUPABASE_URL=https://vvxqzttmufwghojuppjo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2eHF6dHRtdWZ3Z2hvanVwcGpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMjk2OTAsImV4cCI6MjA5NDYwNTY5MH0.Ze0udmGRAB1LsemzU5s-L1UiuRjK_RVs0T2i9V3H2Ug
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2eHF6dHRtdWZ3Z2hvanVwcGpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTAyOTY5MCwiZXhwIjoyMDk0NjA1NjkwfQ.PAgXKI-sBLcYwpLN4l2zMNT5QQ7_46fda8ke8tgfb0Q
ADMIN_PASSWORD=DvxdR3ps2024!
